.sidenav---sidenav-subnav---1EN61::-webkit-scrollbar-track,.sidenav---sidenav-subnav---1EN61::-webkit-scrollbar-thumb,.sidenav---sidenav-subnav---1EN61::-webkit-scrollbar {
    background: var(--sideNavSubMenuBG);
    transition: background 2s;
  }
  
  .sidenav---sidenav-subnav---1EN61{
    &.sidenav---sidenav-subnav---1EN61::-webkit-scrollbar-track{
        background: var(--scrollbarTrack);
    }
    &.sidenav---sidenav-subnav---1EN61::-webkit-scrollbar-thumb{
        background: var(--scrollbarThumb);
    }
    &.sidenav---sidenav-subnav---1EN61::-webkit-scrollbar-thumb:hover{
        background: var(--scrollbarThumbHover);
    }
    
}