@import url(../../vendor/ColVars.css);

.settings-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    height: 100vh;
    min-width: 100%;
    max-width: 100%;
    padding: 15px 10px 10px 10px;
    background: var(--primaryBackground);
    overflow-y: auto;
    z-index: 10;
    margin-left: 2%;
    & h2{
        margin: 5px;
        padding:0;
    }
    & h4{
        margin-top: 25px;
    }

}

.settings-button{
    position: absolute;
    bottom: 26px;
    left: 10px;
    z-index: 1300;
    cursor: pointer;
    & .settings-button:hover{
        transform: scale(1.1)
    }
}

.custom-theme-form{
    margin: 15px;
    margin-top: 25px;
}

.colour-picker{
    float: right;
    min-width: 150px;
    max-width: 200px;
}

.custom-theme-list-item{
    color: var(--primaryTextColour);
}

.custom-theme-list-item-active{
    color: var(--primaryAccent);
}